## -------------------------------------USC Data Recovery #3------------------------------

---CREATED BY TIMOTHY LABOUNKO---

Purpose of this program is to classify all of the businesses we have in our small business database by Hub Zone and Valley Regions.
During our previous data cleaning, we lost our latitude, longitude, census tract, and GeoMatch ID. The purpose of this code is to 
recover that.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

 # Download respective spreadsheets anch check if they load correctly.

In [2]:
spreadsheet_name = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/Dions_Update_4.1.csv"
new_spreadsheet = pd.read_csv(spreadsheet_name)
new_spreadsheet.head()

C:\Users\User\AppData\Local\Temp\ipykernel_17316\4210864508.py:2: DtypeWarning: Columns (64,65,66,67,68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  new_spreadsheet = pd.read_csv(spreadsheet_name)

,Unnamed: 0,COMPETE4LA ID,TIER,COMPANY NAME,BUSINESS ADDRESS,BUSINESS CITY,BUSINESS STATE,BUSINESS ZIP CODE,BUSINESS ZIP4,PHONE #,...,HUB ZONE CERT.,CONTRACTING EXPERIENCE,EXAMPLE(S) OF EXPERIENCE,CENSUS TRACT,LATITUDE,LONGITUDE,GEO MATCH,TRANSACTION DATE YYYYMM,CALL STATUS,IGID
0,1586,31801.0,1,ALDA LIQUORS,16151 ROSCOE BLVD,NORTH HILLS,CA,91343,6226.0,8.188931e+09,...,NaN,NaN,NaN,117404,34.221488,-118.484583,NaN,NaN,NaN,NaN
1,1659,80390.0,1,ALFREDO'S RESTAURANT,23902 NARBONNE AVE,LOMITA,CA,90717,1109.0,3.103262e+09,...,NaN,NaN,NaN,670001,33.807553,-118.319442,NaN,NaN,NaN,NaN
2,5779,6291.0,1,BUFFALO SPOT,5910 DEL AMO BLVD,LAKEWOOD,CA,90713,1900.0,5.623770e+09,...,NaN,NaN,NaN,571101,33.846753,-118.115947,P,NaN,NaN,NaN
3,5873,25139.0,1,BURRITO PROJECT INC,6629 CRESCENT ST,LOS ANGELES,CA,90042,2907.0,NaN,...,NaN,NaN,NaN,183104,34.116380,-118.176433,NaN,NaN,NaN,NaN
4,6889,869.0,1,CASA JIMENEZ,921 W FOOTHILL BLVD,CLAREMONT,CA,91711,3304.0,9.096258e+09,...,NaN,NaN,NaN,401802,34.107601,-117.731909,P,NaN,NaN,NaN

In [3]:
spreadsheet_name = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/Original Spreadsheet.csv"
old_spreadsheet = pd.read_csv(spreadsheet_name)
old_spreadsheet.head()

,Contact_Full_Name,Company_Name,Mailing_Address,Mailing_City,Mailing_State,Mailing_Zip_Code,Mailing_Zip_Four,Primary_Zip10,Census_Tract,Latitude,...,Tier,Community Plan Areas (What we will use for Valley District),LA Council District,LA Council District Rep.,Senate District,Assembly District,Supervisoral District,Congressional District,Opportunity Zone (Use Excel),Hub Zone (Use Excel)
0,NaN,# 1 BUFFET,14418 HAWTHORNE BLVD,LAWNDALE,CA,90260,1517.0,90260-1517,603801,33.900451,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANGELINA VAFA,#MYDELI,312 E HUNTINGTON DR,ARCADIA,CA,91006,3746.0,91006-3746,430801,34.139770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PEYMAN BALAKHANE,$ 3.99 OUTLET,1620 S LOS ANGELES ST,LOS ANGELES,CA,90015,3667.0,90015-3667,224010,34.032421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,$3.99 PIZZA CO,940 N CITRUS AVE,COVINA,CA,91722,2737.0,91722-2737,403721,34.096279,...,4.0,NaN,NaN,NaN,SD 22,AD 48,5.0,32.0,NaN,NaN
4,BRIAN COMETA,$300 DATA RECOVERY,11390 VENTURA BLVD # 5,STUDIO CITY,CA,91604,3152.0,91604-3152,143800,34.139854,...,4.0,Sherman Oaks - Studio City - Toluca Lake - Cah...,4.0,Nithya Raman,SD 27,AD 44,5.0,30.0,NaN,NaN

# Recover all lost Data.

In [7]:
# Spreadsheet is organized alphabetically by company name.
old_index = 0

# Checks to see the number of copies.
copies = 0

new_ss_company_names = new_spreadsheet["COMPANY NAME"].tolist()

# Keep looping until you get to the end of either spreadsheet.
while old_index < len(old_spreadsheet.index):
    
    # Checks to see if the company name exists in the old spreadsheet.
    if str(old_spreadsheet["Company_Name"][old_index]) in new_ss_company_names:
                
        # We check company address to account for repeats in business names. This will be saved as the index we access from.
        new_index = new_ss_company_names.index(str(old_spreadsheet["Company_Name"][old_index]))
        prev_new_index = new_index
        
        while (new_ss_company_names[new_index] == new_ss_company_names[prev_new_index]):
            new_spreadsheet["TRANSACTION DATE YYYYMM"][new_index] = old_spreadsheet["Transaction_Date__YYYYMM_"][old_index]
            new_spreadsheet["CALL STATUS"][new_index] = old_spreadsheet["Call_Status_Description"][old_index]
            new_spreadsheet["IGID"][new_index] = old_spreadsheet["IGID"][old_index]
            # Increment both to account for the copies in company names.
            new_index += 1
            old_index += 1
            copies += 1
            
    
    if (copies < 1):
        old_index += 1
        # Check to see if we are loading data
        # print(old_index)
    # Reset copies to 0.          
    copies = 0
    
# We check the tail to see all of the data has been aggregated.
# We can determine this by the last two coluns, the lat and long.
new_spreadsheet.tail()

C:\Users\User\AppData\Local\Temp\ipykernel_17316\271536577.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_spreadsheet["TRANSACTION DATE YYYYMM"][new_index] = old_spreadsheet["Transaction_Date__YYYYMM_"][old_index]
C:\Users\User\AppData\Local\Temp\ipykernel_17316\271536577.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_spreadsheet["CALL STATUS"][new_index] = old_spreadsheet["Call_Status_Description"][old_index]
C:\Users\User\AppData\Local\Temp\ipykernel_17316\271536577.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_spreadsheet["IGID"][new_index] = old_spreadsheet["IGID"][old_index]

,Unnamed: 0,COMPETE4LA ID,TIER,COMPANY NAME,BUSINESS ADDRESS,BUSINESS CITY,BUSINESS STATE,BUSINESS ZIP CODE,BUSINESS ZIP4,PHONE #,...,HUB ZONE CERT.,CONTRACTING EXPERIENCE,EXAMPLE(S) OF EXPERIENCE,CENSUS TRACT,LATITUDE,LONGITUDE,GEO MATCH,TRANSACTION DATE YYYYMM,CALL STATUS,IGID
39238,37494,28413.0,4,"VideoBob Productions, Inc.",3130 Deronda Drive,Los Angeles,CA,90068,NaN,3.233854e+09,...,NaN,NaN,NaN,189400,34.126738,-118.321695,NaN,NaN,NaN,NaN
39239,37745,7816.0,4,VOLTAGE ELECTRIC,2200 BELMONT LN,REDONDO BEACH,CA,90278,5018.0,3.103795e+09,...,NaN,NaN,NaN,620602,33.863099,-118.372546,P,202212.0,NaN,724879950.0
39240,37972,80552.0,4,WAVEHUGGERS INC,621 W ROSECRANS AVE # 204,GARDENA,CA,90248,1516.0,3.109109e+09,...,NaN,NaN,NaN,291130,33.902050,-118.285620,NaN,202210.0,NO ANSWER,427186785.0
39241,38009,82970.0,4,WE THE PEOPLE LEGAL DOCUMENT,963 E COLORADO BLVD,PASADENA,CA,91106,2325.0,6.265350e+09,...,NaN,NaN,NaN,462302,34.146263,-118.130587,NaN,202202.0,NaN,591356092.0
39242,38433,42330.0,4,WINDSOR & WINDSOR,1 S FAIR OAKS AVE # 401,PASADENA,CA,91105,1945.0,6.267927e+09,...,NaN,NaN,NaN,463700,34.145516,-118.150671,NaN,NaN,NaN,NaN

# Make a final Spreadsheet.

In [8]:
new_spreadsheet.to_csv("C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/Spreadsheet_as_5.28.csv")

END OF CODE (Last Edited 3/28)