## -------------------------------------USC CED Data Axel SBA Classifier---------------------------------

---CREATED BY TIMOTHY LABOUNKO---

Purpose of this program is to classify all of the businesses we have in our small business database based on SBA classifications.
To do this, we gathered sepearate dabatases (6 seperate ones) and identifies which of our small businesses are part of the SBA databases.
We classify them as either "yes" if certified, "self" if self certified, and "no" if not certified.

## Import all of the necessary libraries for loading and creating spreadsheets.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
spreadsheet_name = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/Compete4LA_Compiled_Spreadsheet_With_Surveys.csv"
compiled_spreadsheet = pd.read_csv(spreadsheet_name)
compiled_spreadsheet.head()

C:\Users\User\AppData\Local\Temp\ipykernel_14916\3392862284.py:2: DtypeWarning: Columns (26,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  compiled_spreadsheet = pd.read_csv(spreadsheet_name)

,OBJECTID,COMPETE4LA ID,TIER,COMPANY NAME,BUSINESS ADDRESS,BUSINESS CITY,BUSINESS STATE,BUSINESS ZIP CODE,BUSINESS ZIP4,PHONE #,...,LONGITUDE,GEO MATCH,TRANSACTION DATE YYYYMM,CALL STATUS,IGID,FIELD62,CONTACT FULL NAME,OBJECTID_1,Join_Count,TARGET_FID
0,1,NaN,2.0,LUCAS AUTO,14155 OXNARD ST,VAN NUYS,CA,91401,3607.0,8.187824e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,4.0,GENERAL NUCLEONICS INC,2807 METROPOLITAN PL,POMONA,CA,91767,1853.0,9.095935e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,4.0,WESTCHESTER HOMETOWN NEWS,6605 W 80TH ST,LOS ANGELES,CA,90045,1166.0,3.106411e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,4.0,MEL O DEE ICE CREAM CO,12305 INDUSTRIAL AVE,SOUTH GATE,CA,90280,8219.0,5.625311e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,4.0,RIVERA,1280 PRODUCE ROW,LOS ANGELES,CA,90021,1836.0,2.136291e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Store the memory addresses for each SBA as a variable.

In [3]:
SBA_MO_SelfCertified = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/SBA Spreadsheets/SBA Minority Owned (Self Certified).xls.csv"
SBA_NA_Certified = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/SBA Spreadsheets/SBA Native American Certified.xls.csv"
SBA_SDB_SelfCertified = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/SBA Spreadsheets/SBA Self-Certified Small Disadvantaged Business.xls.csv" 
SBA_V_Certified = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/SBA Spreadsheets/SBA Veteran Certified.xls.csv"
SBA_WOB_SelfCertified = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/SBA Spreadsheets/SBA Women Owned Businesses (Self Certified).xls.csv"
SBA_WOB_Certified = "C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/SBA Spreadsheets/SBA_Women-Certified.xls.csv"

certified_spreadsheets = [SBA_NA_Certified, SBA_V_Certified, SBA_WOB_Certified]
self_certified_spreadsheets = [SBA_MO_SelfCertified, SBA_SDB_SelfCertified, SBA_WOB_SelfCertified]

## Check to see that all of the spreadsheets are read correctly.

In [4]:
for spr in certified_spreadsheets:
    df = pd.read_csv(spr)
    
for spr in self_certified_spreadsheets:
    df = pd.read_csv(spr)

df.head()

,"DSBS is experiencing intermittent issues in displaying the most up-to-date certifications for some registrants. If a firm claiming certification does not appear as certified in DSBS, please contact answerdesk@sba.gov for assistance.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#,Name and Trade Name of Firm,Contact,"Address and City, State Zip",Capabilities Narrative,Avg Ann Gross Rev,Avg Num Employees,Congr. Dist.,E-mail Address,Phone Number,"Business Type (Service, Construction, etc)","NAICS, All (for which firm is small)"
2,1,"THE ATLAS GROUP, LLC",ADRIENNE DINKELACKER,210 1/2 N LOUISE ST,NaN,"$220,000.00",2,30,adrienne@theatlasgroup.co,267-240-3176,NaN,"541330, 541330, 541330, 541330, 541511, 541512..."
3,NaN,NaN,NaN,APT A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,"GLENDALE, CA 91206-4766",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Compare all of the spreadsheets and create a list of businesses that match for each category

In [5]:
SBA_MO_SC_List = []
SBA_NA_C_List = []
SBA_SDB_SC_List = []
SBA_V_C_List = []
SBA_WOB_SC_List = []
SBA_WOB_C_List = []

list_of_comp = [SBA_NA_C_List, SBA_V_C_List, SBA_WOB_C_List, SBA_MO_SC_List, SBA_SDB_SC_List, SBA_WOB_SC_List]

In [6]:
# Index counter to check what list we are adding to.
index = 0
    
    
    
    
# First loop through all of the certified lists.
for cert in certified_spreadsheets:
    df = pd.read_csv(cert)
        
    # Loop through the compiled spreadsheet and compare the business name to see if they match.
    # Record results in comparison list.
    for business_name in compiled_spreadsheet["COMPANY NAME"]:
        for SBA in df["Unnamed: 1"]:
                
            # Record in list if business names match.
            if business_name == SBA:
                list_of_comp[index].append(SBA)
        
    # Increment the index to go onto the next spreadsheet.
    index += 1
    
    
    
     
# loop through all of the self certified lists.
for self_cert in self_certified_spreadsheets:
    df = pd.read_csv(self_cert)
        
    # Loop through the compiled spreadsheet and compare the business name to see if they match.
    # Record results in comparison list.
    for business_name in compiled_spreadsheet["COMPANY NAME"]:
        for SBA in df["Unnamed: 1"]:
                
            # Record in list if business names match.
            if business_name == SBA:
                list_of_comp[index].append(SBA)
        
    # Increment the index to go onto the next spreadsheet.
    index += 1

In [7]:
# Check to see if the certified lists were created correctly
SBA_V_C_List

['SIGN IMAGING',
 'LG & M ELECTRIC INC',
 'AMERICAN ARTISTS CORP',
 'W M MACHINE CO',
 'VULCAN METAL GROUP LLC',
 'SIGN IMAGING',
 'SIGN IMAGING',
 'HARDING CONSULTING',
 'WEI INDUSTRIES',
 'EBS LOGISTICS LLC',
 'HODGKISS CONSULTING LLC',
 'IRG MEDICAL INC',
 'SOLID SEARCH MARKETING INC',
 'MECHANICAL DRAGONS LLC']

In [8]:
# Check to see if the self certified lists were created correctly
SBA_MO_SC_List

['ORRAVAN MECHANICAL INC',
 '3S GLOBAL BUSINESS SOLUTIONS',
 'LG & M ELECTRIC INC',
 'BELLA PITA',
 'NOYON INC',
 'M & B ASSEMBLY CORP',
 'UNIK INC',
 'LUMO SUPPLY DECK',
 'DAVID NG PHOTOGRAPHY',
 'HOUSE OF TROPHIES & AWARDS',
 'KT INDUSTRIES INC',
 'TIM DENTAL PROJECT',
 'AERO MECHANISM PRECISION INC',
 'RIDELINKS INC',
 'CROWN INTERNATIONAL TRAVEL INC',
 'DELPHIN COMPUTER SUPPLY',
 'RABBIT AIR',
 'SUPREME SUPPLY CO INC',
 'GFX MARKETING CORP',
 'SURGE TECHNOLOGY GROUP LLC',
 'FEDERAL ONE SUPPLIES LLC',
 'REICH INDUSTRIES INC',
 'YUNG ARCHITECTS LLP',
 'GENISA IRON INC',
 'MARKETING PROMOTION IMAGE INC',
 'INDUSTRIES IMAGING',
 'SCALE MODEL CO',
 'LA FILM LOCATIONS',
 'INTELLIGENT DATA',
 'WEST PAC CONCRETE INC',
 'PLATINUM SAMANDY VENTURES',
 'STAR RESOURCES CORP',
 'MORAN CONSULTING CORP',
 'CE SUPPLY LLC',
 'JOSEPH MANAGEMENT INC',
 'ONUMA INC',
 'HEALTH CARE CONSULTANTS INC',
 'MAESTRO GAMES SPC',
 'TRIO ENGINEERING CO',
 'FAVOUR CONSULTING GROUP LLC',
 'TRUE VISION DISPLAYS INC',
 'ASA SALES INC',
 'EURI LIGHTING',
 'ADVANCED SIGN & BANNER',
 'BESTEK MACHINE CO',
 'KNIGHTSBRIDGE INDUSTRIES INC',
 'MARKETING SI INC',
 'NATIONWIDE LITHO INC',
 'KNIGHTFOX LOGISTICS LLC',
 'GEMTEK TECHNOLOGY INC',
 'FUSE AVIATION LLC',
 'LITTLE LIBROS LLC',
 'TECHMEDICS',
 'WOLFCOM ENTERPRISES',
 'KNIGHTSBRIDGE INDUSTRIES INC',
 'GEM SUPPLIES LLC',
 'AVR ELECTRIC INC',
 'SHRED SOURCE',
 'SHRED SOURCE',
 'JMT INC',
 'W C INDUSTRIES',
 'WEI INDUSTRIES',
 'SHELBY GRACE MANAGEMENT CORP',
 'APEX FURNITURE LLC',
 'AXIOM DESIGNS & PRINTING',
 'DUST STOPPERS',
 'LINEN N CHAIR COVERS',
 'EBS LOGISTICS LLC',
 'ANGEL CITY ADVISORS LLC',
 'IDEAL PRINTING CO',
 'AXIS ARTIST MANAGEMENT INC',
 'IDEA ENHANCEMENT GROUP',
 'CONTINUUM ENGINEERING INC',
 'BRAHMBHATT ARCHITECTS INC',
 'AMS CONSULTANT',
 'GLOBAL PUBLIC ADVISORS',
 'OCAMPO LOGISTICS LLC',
 'STEM CONSULTANTS INC',
 'AVERY GROUP INC',
 'VISUAL TERRAIN',
 'EUFRA MARKETING CO',
 'BRIGHT SKY INDUSTRIES',
 'SCV ELECTRIC INC',
 'SOTERIA CO LLC',
 'TALK SHOPPE',
 'OFFICE TEC SUPPLIES',
 'SOLID SEARCH MARKETING INC',
 'TWELVE AM FASHIONS CO',
 'TWELVE AM FASHIONS CO',
 '4HUNNID LOGISTICS LLC',
 'GUARDIAN',
 'GUARDIAN',
 'GUARDIAN',
 'GUARDIAN',
 'GENTLEGIANT FITNESS LLC']

## Record all of the new calculated business classifications in the compiled spreadsheet.

In [9]:
# The woman owned small business column alread exists in our database, we defaul this colum to no.
compiled_spreadsheet["SBA-WOSB"] = "no"

# Add classifications for woman owned businesses into the compiled spreadsheet.
for business_name in SBA_WOB_SC_List:
    
    # Loop through the dataframe and add self in the "SBA-WOSB" column.
    for index in compiled_spreadsheet.index:
        
        # Compares names from list and compiled spreadsheet.
        if business_name == compiled_spreadsheet["COMPANY NAME"][index]:
            compiled_spreadsheet["SBA-WOSB"][index] = "self"

compiled_spreadsheet["SBA-WOSB"].head()

C:\Users\User\AppData\Local\Temp\ipykernel_14916\3802534976.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compiled_spreadsheet["SBA-WOSB"][index] = "self"

0    no
1    no
2    no
3    no
4    no
Name: SBA-WOSB, dtype: object

In [10]:
# This is working on the same spreadsheet as above, but now we are checking those business that are certified, but not self certified.
for business_name in SBA_WOB_C_List:
    
    # Loop through the dataframe and add self in the "SBA-WOSB" column.
    for index in compiled_spreadsheet.index:
        
        # Compares names from list and compiled spreadsheet.
        if business_name == compiled_spreadsheet["COMPANY NAME"][index]:
            compiled_spreadsheet["SBA-WOSB"][index] = "yes"

compiled_spreadsheet["SBA-WOSB"].head()

C:\Users\User\AppData\Local\Temp\ipykernel_14916\1086161508.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compiled_spreadsheet["SBA-WOSB"][index] = "yes"

0    no
1    no
2    no
3    no
4    no
Name: SBA-WOSB, dtype: object

In [11]:
# The woman owned small business column alread exists in our database, we defaul this colum to no.
compiled_spreadsheet["SBA-SDB"] = "no"

# Add classifications for small disadvantaged businesses into the compiled spreadsheet.
for business_name in SBA_SDB_SC_List:
    
    # Loop through the dataframe and add self in the "SBA-WOSB" column.
    for index in compiled_spreadsheet.index:
        
        # Compares names from list and compiled spreadsheet.
        if business_name == compiled_spreadsheet["COMPANY NAME"][index]:
            compiled_spreadsheet["SBA-SDB"][index] = "self"

compiled_spreadsheet["SBA-SDB"].head()

C:\Users\User\AppData\Local\Temp\ipykernel_14916\51440622.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compiled_spreadsheet["SBA-SDB"][index] = "self"

0    no
1    no
2    no
3    no
4    no
Name: SBA-SDB, dtype: object

In [12]:
# Create a new column in the compiled_spreadsheets datafrane.
compiled_spreadsheet["SBA-MO"] = "no"

# Add classifications for miinority owned businesses into the compiled spreadsheet.
for business_name in SBA_MO_SC_List:
    
    # Loop through the dataframe and add self in the "SBA-WOSB" column.
    for index in compiled_spreadsheet.index:
        
        # Compares names from list and compiled spreadsheet.
        if business_name == compiled_spreadsheet["COMPANY NAME"][index]:
            compiled_spreadsheet["SBA-MO"][index] = "self"

compiled_spreadsheet["SBA-MO"].head()

C:\Users\User\AppData\Local\Temp\ipykernel_14916\3982019631.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compiled_spreadsheet["SBA-MO"][index] = "self"

0    no
1    no
2    no
3    no
4    no
Name: SBA-MO, dtype: object

In [13]:
# Create a new column in the compiled_spreadsheets datafrane.
compiled_spreadsheet["SBA-VO"] = "no"

# Add classifications for veteran owned businesses into the compiled spreadsheet.
for business_name in SBA_V_C_List:
    
    # Loop through the dataframe and add self in the "SBA-WOSB" column.
    for index in compiled_spreadsheet.index:
        
        # Compares names from list and compiled spreadsheet.
        if business_name == compiled_spreadsheet["COMPANY NAME"][index]:
            compiled_spreadsheet["SBA-VO"][index] = "Yes"

compiled_spreadsheet["SBA-VO"].head()

C:\Users\User\AppData\Local\Temp\ipykernel_14916\1409191063.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compiled_spreadsheet["SBA-VO"][index] = "Yes"

0    no
1    no
2    no
3    no
4    no
Name: SBA-VO, dtype: object

In [14]:
# Create a new column in the compiled_spreadsheets datafrane.
compiled_spreadsheet["SBA-NAO"] = "no"

# Add classifications for small disadvantaged businesses into the compiled spreadsheet.
for business_name in SBA_NA_C_List:
    
    # Loop through the dataframe and add self in the "SBA-WOSB" column.
    for index in compiled_spreadsheet.index:
        
        # Compares names from list and compiled spreadsheet.
        if business_name == compiled_spreadsheet["COMPANY NAME"][index]:
            compiled_spreadsheet["SBA-NAO"][index] = "Yes"

compiled_spreadsheet["SBA-NAO"].head()

0    no
1    no
2    no
3    no
4    no
Name: SBA-NAO, dtype: object

## Check to see if the correct spreadsheet was generated and export into new csv file.

In [15]:
compiled_spreadsheet.head()

,OBJECTID,COMPETE4LA ID,TIER,COMPANY NAME,BUSINESS ADDRESS,BUSINESS CITY,BUSINESS STATE,BUSINESS ZIP CODE,BUSINESS ZIP4,PHONE #,...,CALL STATUS,IGID,FIELD62,CONTACT FULL NAME,OBJECTID_1,Join_Count,TARGET_FID,SBA-MO,SBA-VO,SBA-NAO
0,1,NaN,2.0,LUCAS AUTO,14155 OXNARD ST,VAN NUYS,CA,91401,3607.0,8.187824e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no
1,2,NaN,4.0,GENERAL NUCLEONICS INC,2807 METROPOLITAN PL,POMONA,CA,91767,1853.0,9.095935e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no
2,3,NaN,4.0,WESTCHESTER HOMETOWN NEWS,6605 W 80TH ST,LOS ANGELES,CA,90045,1166.0,3.106411e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no
3,4,NaN,4.0,MEL O DEE ICE CREAM CO,12305 INDUSTRIAL AVE,SOUTH GATE,CA,90280,8219.0,5.625311e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no
4,5,NaN,4.0,RIVERA,1280 PRODUCE ROW,LOS ANGELES,CA,90021,1836.0,2.136291e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no

In [16]:
compiled_spreadsheet.to_csv("C:/Users/User/Downloads/Excel Spreadsheets/USC Center for Economic Development/LABC_Generated_Spreadsheet.csv")

END OF CODE (Last Edited 3/20)